<!-- <p>home works</p> -->
<!-- <app-header></app-header> -->
 <div class="container">
    <div class="place-fav">
    <div class="place">
        <h3 class="current-place">{{this.temp['name']}}, Karnataka</h3>
    </div>
    <div class="flex-fav">
    <div class="addfav" *ngIf="clickfav;else elseBlock" (click)="clickfavr()">
        <mat-icon class="favicon">favorite_border</mat-icon>
        <p class="add">Add to favourite</p>
    </div>
    <ng-template #elseBlock>
    <div class="addfav" (click)="clickfavr()">
        <mat-icon class="favicon addedfavicon">favorite</mat-icon>
        <p class="add added">Added to favourite</p>
    </div>
</ng-template>
</div>
</div>

<div class="forecast">
<div class="forecast-logo">
    <!-- <img src="/assets/sun.png" alt="forecast-logo"> -->
    <img [src]=weatherIcon alt="">
    <!-- {{this.temp['weather'][0].icon}} -->
</div>
<div class="cel-fer">
    <div class="display-deg">
        <h2>{{this.conv}}</h2>
    </div>
    <div class="btn" *ngIf="dispbtn" >
    <button class="cel" (click)="celconv()" >&#176;C</button>
    <button class="fer" (click)="farconv()">&#176;F</button>
    
</div>

</div>
<div class="forecast-dis">
    <p>{{this.temp['weather'][0].main}}</p>
</div>

</div>
 </div>
<app-footer></app-footer>