<!-- <p>home works</p> -->
<!-- <app-header></app-header> -->
 <div class="container">
    <div class="place-fav">
    <div class="place">
        <h3 class="current-place">Udupi, Karnataka</h3>
    </div>
    <div class="addfav">
        <mat-icon>favorite_border</mat-icon>
        <p class="add">Add to favourite</p>
    </div>
</div>

<div class="forecast">
<div class="forecast-logo">
    <img src="/assets/sun.png" alt="forecast-logo">
</div>
<div class="cel-fer">
    <div class="display-deg">
        <h2>87</h2>
    </div>
    <div class="btn">
    <button class="cel">&#176;C</button>
    <button class="fer">&#176;F</button>
</div>

</div>
<div class="forecast-dis">
    <p>Mostly Sunny</p>
</div>

</div>
 </div>
<app-footer></app-footer>