@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap');
.container{
    /* border: 1px solid #fff; */
    width:68%;
    margin:auto;
    height: 55vh;
    
}
.current-place{
    font-family: roboto;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 4.7%;
}
.flex-fav{
    display: flex;
    cursor: pointer;
}
.favicon{
    cursor:pointer
}
.addfav{
    font-size: 0.82rem;
}
.add{
    margin-left:1.8rem;
    margin-top:-1.7rem;
}
.forecast{
    margin-top: 5%;
}
.forecast-logo img{
    display: flex;
    align-items: center;
    margin: auto;
    
}
/* .display-deg{
    border: 1px solid #fff;
    height:3rem;
    width:5rem;
} */
.display-deg h2{
    font-size: 4rem;
    margin-top: 1rem;
}
.cel-fer{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.btn{
    margin-top:1.1rem;
    margin-left:0.5rem;
    border-radius: 1px;
    
}
.cel, .fer{
    width: 2rem;
    height:2rem;
    font-size: 1rem;
    border-radius: 1px;
}
.cel{
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.fer{
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
button{
    border: 1px solid #fff;
    color:#fff;
    background-color: transparent;
    cursor:pointer;
    

}
button:hover{
    background-color: #fff;
    color:#E32843;
}
.forecast-dis > p {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top:2%;
    font-family:Roboto;
    font-size: 1.4rem;

}
.added{
 color:#FAD05B;
}
.addedfavicon{
    color: #FAD05B;
}

/* media query */
@media(max-width:500px){
    .current-place{
        font-family: roboto;
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 1.7%;
        text-align: center;
    }
    .mat-icon{
        /* text-align: center; */
        text-align: center;
        /* margin-left:4.5rem; */
        
    }
    .add{
        /* margin-left:1.8rem;
        margin-top:-1.7rem; */
        font-size: 0.82rem;
        text-align: center;
    }
    .forecast{
        margin-top: 12.66%;

    }
    .display-deg h2{
        font-size: 3.2rem;
        margin-top: 1rem;
    }
    .forecast{
        margin-top: 30%;
    }
    .cel-fer{
        display: flex;
        justify-content: center;
        margin-top: 1.6rem;
    }
    .forecast-dis > p {
        margin-top:1rem;
    }
    .flex-fav{
        display: flex;
        justify-content: center;
    }
}