<div class="navbar">
<app-header></app-header>
</div>
<div class="replacednav" [class.replace]="replacenav">
   
    <mat-icon  class="arrow" routerLink="/home">arrow_back</mat-icon>
    <h3 class="favtab">Favourite</h3>
    <mat-icon class="searchicon">search</mat-icon>
</div>


<div class="container">
    <div class="fav-empty" *ngIf ="fav; else elseBlock">
 <div class="no-fav">
    <img src="/assets/emptyfav.png" alt="empty fav">
</div>
    <div class="not-added">
    <h3>No Favourites added</h3>
</div>
</div>

<ng-template #elseBlock>
        <div class="top-bar">
        
        <p>6 City added as favourite</p>
   
        <a (click)="opendialog()">Remove All</a>
    
</div>
    <div class="table scroll">
    <table>
        <tr *ngFor="let fav of likedlist">
            <td>
                <div class="row-1">
                    <!-- <div class="row"> -->
                    <div class="place">
                        <p>{{fav.data.name}}</p>
                    </div>
                    <div class="fore-cast">
                        <div class="forecast-img">
                        <img src="http://openweathermap.org/img/wn/{{fav.data['weather'][0].icon}}.png" alt="">
                    </div>
                    <div class="description">
                        <h2>{{((fav.data['main'].temp)-273.15).toFixed(0)}}<span>&#176;C</span></h2>
                    </div>
                    <div class="full-des">
                       <p>{{fav.data.weather[0].main}}</p>
                    </div>   
                </div>
                     <div class="fav-icon">
                        <mat-icon >favorite</mat-icon>
                     </div>
                    <!-- </div> -->
                </div>
                        
            </td>
        </tr>
    </table>
</div>
    </ng-template>
</div>
