.replacednav {
    display: none;
}

.container {
    /* border: 1px solid #fff; */
    width: 68%;
    margin: auto;
    /* height: 80vh; */
}

.not-added {
    margin-top: 2%;
}

.scroll {
    height: 70%;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.fav-empty {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;


}

.top-bar a {
    text-decoration: none;
    color: #fff;

}

.row {
    display: flex;
    /* justify-content: space-between;
    position:relative; */

}

table {
    width: 100%;
    height: 50%;
}

table td {
    display: flex;
    /* justify-content: space-between; */
    border: 1px solid #ffffff2f;
    background-color: rgba(255, 255, 255, 0.116);

}

.row-1 {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: auto;

}

.place {
    display: flex;
    color:#FFE539;
    font-size: 1rem;
    margin-left: 1rem;
}

.fore-cast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 2rem;
    /* margin-top:1rem */
}

.description h2 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    margin-left: 1.7rem;
}

.description span {
    font-size: 1rem;

}

.full-des {
    font-size: 1.22rem;
    margin-left: 2rem;
}

.fav-icon {
    margin-right: 2rem;
}

.filled-fav {
    color: #FFE539;
}

.yellowcolor {
    color: #FFE539;
}

.mat-icon {
    cursor: pointer;
}

@media(max-width:500px) {
    .container {
        /* border: 1px solid #fff; */
        width: 92%;
        margin: auto;
        /* height: 80vh; */
    }

    .row-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80px;
        position: relative;
    }

    .row {
        /* position:absolute; */
    }

    .fore-cast {
        display: flex;
        justify-content: space-between;

        margin-left: 1rem;
        /* margin-top:1rem */
    }

    .place {
        /* display: flex; */
        /* justify-content:flex-start;
            text-align:left; */
        font-family: Roboto;
        font-size: 1rem;
        color: #FFE539;
        margin-top: 2%
            /* margin-left: -19rem; */
    }

    .description h2 {
        /* position: absolute; */
        display: flex;
        margin-left: -1%;
        font-family: Roboto;
        /* align-items: center;
            text-align: center; */
        font-size: 1.15rem;
    }

    .full-des {
        font-size: 0.9rem;
        margin-left: 1rem;
    }

    .description span {
        font-size: 0.85rem;

    }

    .forecast-img {
        /* height:2%; */
        /* height:13px; 
            width:13px; */
        margin-top: -5%;
    }

    .fav-icon {
        display: flex;
        /* flex-direction: row; */
        position: absolute;
        left: 87%;
        margin-top: 6%;
        justify-content: end;
        align-items: flex-end;
    }

    table td:hover {
        border: 1px solid rgb(25, 138, 213)
    }


    .fav-empty {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 15rem;
    }

    .not-added {
        margin-top: 1rem;
    }

    .navbar {
        display: none;
    }

    .replacednav {
        display: flex;
    }

    .replacednav {
        display: flex;
        width: 100vw;
        height: 7vh;
        /* position:relative; */
        justify-content: space-between;
        background-color: #ffffff;
        border: #fff 1px solid;
    }

    .arrow {
        display: flex;
        color: #292F33;
        margin-top: 3%;
        font-weight: 500;
        /* position: absolute; */
        bottom: 3%;
        align-items: center;
    }

    .favtab {
        display: flex;
        position: absolute;
        left: 20%;
        font-weight: 500;
        margin-top: 3%;
        font-size: 1.3rem;
        color: #292F33;
    }

    .searchicon {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 3%;
        color: #292F33;
        margin-top: 3%;
        font-weight: 500;

        /* top:0.1%; */
        /* align-items:center; */

    }


}