<div class="navbar">
<div class="header">
    <div id="logo" class="weatherlogo">
        <img src="/assets/weatherlogo.png">
        </div>
    <div class="searchbar">
   
    <form [formGroup]="searchForm"  (click)="closesearch()" >
   <div class="input" > 
    <input formControlName="name" class="search" type="tel" placeholder="Search City">
   </div>
</form>

<mat-icon  (click)="search()">search</mat-icon>
</div>
    
</div>

<div class="hide-tab" (click)="openTab()" >
<span></span>
<span></span>
<span></span>
</div>
<div class="tab-section" >
<div class="tabs" [class.hidetabmenu]="hidetab" (click)="closeTab()">
    <ul>
        <li><a routerLink="/home"><span class="cap">H</span>OME</a></li>
        <li><a routerLink="/fav"><span class="cap">F</span>AVOURITE</a></li>
        <li><a routerLink="/recent"><span class="cap">R</span>ECENT SEARCH</a></li>
    </ul>

    <!-- <mat-tab-group>
        <mat-tab class="color" label="HOME">  </mat-tab>
        <mat-tab class="color"label="FAVOURITE">  </mat-tab>
        <mat-tab class="color" label="RECENT SEARCH">  </mat-tab>
      </mat-tab-group> -->
</div>

<div class="date-time">
    
    <p>{{date|date:'E'}},</p>
    <p class="date">{{date|date:'mediumDate'}}</p>
    <p class="time">{{date|date:'shortTime'}}</p>
</div>
</div>
<hr class="line">
</div>