<div>
<div class="navbar" [class.nav]="normheader">
<div class="header">
    <div id="logo" class="weatherlogo">
        <img src="/assets/weatherlogo.png">
        </div>
    <div class="searchbar">
   
    <form [formGroup]="searchForm">
   <div class="search" [class.hidesearch]="hidesearchtab"  (click)="closesearch()" > 
    <input formControlName="name"  type="tel" placeholder="Search City">
</div>
</form>
<div (click)="opensearch()" ></div>
<mat-icon  (click)="search()">search</mat-icon>
</div>

</div>

<div class="hide-tab" (click)="openTab()" >
<span></span>
<span></span>
<span></span>
</div>
<div class="tab-section" >
<div class="tabs" [class.hidetabmenu]="hidetab" (click)="closeTab()">
    <ul>
        <li><a routerLink="/home"><span class="cap">H</span>OME</a></li>
        <li><a routerLink="/fav"><span class="cap">F</span>AVOURITE</a></li>
        <li><a routerLink="/recent"><span class="cap">R</span>ECENT SEARCH</a></li>
    </ul>

</div>

<div class="date-time">
    
    <p>{{date|date:'E'}},</p>
    <p class="date">{{date|date:'mediumDate'}}</p>
    <p class="time">{{date|date:'shortTime'}}</p>
</div>
</div>
<hr class="line">
</div>

<!-- <div class="replacednav" [class.replace]="replacenav">
    <mat-icon routerLink="/home">arrow_back</mat-icon>
    <h3>Favourite</h3>
</div> -->
</div>